:root,
body,
html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #000000;
    color: white;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: rgb(37, 37, 37);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* navbar */
.navbar-box {
    width: 100%;
    height: 50px;
    border-radius: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.navbar-box-item {
    display: flex;
    align-items: center;
}
.navbar-box-btn {
    height: 30px;
    cursor: pointer;
    margin-left: 8px;
    margin-right: 8px;
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
}

svg {
    margin-right: 4px;
    cursor: pointer;
}

.img-box {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.img-dropdown {
    background-color: none;
}

.main-box {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    padding: 20px 0px;
}

.bar-box {
    /* flex-grow: 1; */
    padding: 20px;
    padding-top: 0px;
    width: 100%;
}

/* lefbar */
.leftbar-navbar {
    display: flex;
    align-items: center;
    height: 64px;
}
.leftbar-navbar h1 {
    font-size: 30px;
    font-weight: bold;
}

/* rightbar */
.rightbar h1 {
    font-size: 27px;
    font-weight: bold;
}

.rightbar h4 {
    color: #b3b3b3;
}

.rightbar-img-box {
    /* border-radius: 18px;
    border: solid 1px gray; */
    width: 100%;
    aspect-ratio: 1 / 1;
    margin-bottom: 18px;
}

.center-box {
    min-width: 1000px;
    width: 1000px;
    height: 100%;
    padding: 23px;
    border-radius: 18px;
    background: rgb(27, 27, 27);
    background: linear-gradient(
        0deg,
        rgba(27, 27, 27, 1) 70%,
        rgb(0, 3, 54) 100%
    );
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* overflow: auto; */
}
/* .navbar-box-playlist {
    height: 300px;
    width: 100%;
    padding: 18px;
    display: flex;
    justify-content: space-between;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 70%;
} */

/* HOME PAGE */
.home-box {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    column-gap: 23px;
    row-gap: 23px;
    padding: 0px;
    overflow: auto;
    max-height: 100%;
    margin: 23px 0px;
}
.home-box-item {
    height: 350px;
    cursor: pointer;
}
.card-item {
    background-color: rgb(37, 37, 37);
    color: white;
    border: 0px;
    height: 100%;
    transition: 0.5s;
}
.card-item:hover {
    background-color: rgb(48, 48, 48);
}
.card-title {
    font-weight: bold;
    margin-bottom: 8px;
}
.card-title.h5 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.card-text {
    height: 75px;
    color: rgb(200, 200, 200);
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: wrap;
}
.card-img-box {
    padding: 16px;
    padding-bottom: 0px;
    border-radius: 20px;
}

/* PLAYLISTS */
.playlist-details-navbar {
    margin-top: 30px;
    display: flex;
}
/* playlist id detail */
.playlist-details-img-box {
    width: 230px;
    height: 230px;
    -webkit-box-shadow: 4px 4px 21px 0px rgb(0, 0, 0);
    -moz-box-shadow: 4px 4px 21px 0px rgb(0, 0, 0);
    box-shadow: 4px 4px 21px 0px rgb(0, 0, 0);
}
.playlist-details-info {
    width: 100%;
    padding: 23px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.playlist-name {
    width: 600;
    font-size: 5em;
    font-weight: bold;
    text-wrap: nowrap;
}
.playlist-name-long {
    width: 600;
    font-size: 3em;
    font-weight: bold;
    text-wrap: nowrap;
}
.playlist-description {
    font-size: 14px;
    font-weight: 400;
    color: rgb(212, 212, 214);
}
.playlist-author {
    font-size: 14px;
    font-weight: 500;
    display: flex;
}
.table-box {
    padding: 0px;
}
.table-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px gray;
    padding: 16px;
    padding-bottom: 4px;
    color: #b3b3b3;
}

.table-item {
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px;
}
.index {
    width: 16px;
    text-align: end;
    color: #b3b3b3;
}
.title {
    width: 45%;
    display: flex;
    flex-direction: column;
}
.title-artists-box {
    display: flex;
}
.title h1 {
    font-size: 16px;
    font-weight: 500;
    margin: 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.title h4 {
    font-size: 14px;
    color: #b3b3b3;
    margin: 0px;
    margin-right: 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.album {
    width: 40%;
}
.time {
    width: 50px;
    text-align: end;
    color: #b3b3b3;
}
a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* control panel */
.control-panel-box {
    width: 100%;
    /* border-radius: 18px;
    background-color: #000000;
    padding: 20px; */
    display: flex;
    flex-direction: column;
}
.control-panel-title {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-self: start;
}
.control-panel-btn-box {
    width: 20%;
    display: flex;
    justify-content: space-between;
    justify-self: center;
    align-self: center;
}
.control-panel-volume-box {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
h1 {
    padding-bottom: 2px;
}
.control-panel-title h1 {
    font-size: 16px;
    font-weight: 500;
    margin: 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.control-panel-title h4 {
    font-size: 14px;
    color: #b3b3b3;
    margin: 0px;
    margin-right: 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.control-panel-btn {
    width: 30px;
    height: 30px;
}
svg.control-panel-btn {
    margin: 0px;
}
.control-panel-upper {
    width: 100%;
    display: flex;
}
.control-panel-lower {
    width: 100%;
    display: flex;
}
.control-panel-lower input {
    width: 100%;
}
.control-panel-current-duration {
    width: 10%;
    align-self: center;
    display: flex;
    justify-content: flex-start;
}
.control-panel-duration {
    width: 10%;
    align-self: center;
    display: flex;
    justify-content: flex-end;
}
.control-panel-range {
    background-color: #b3b3b3;
    color: black;
}

/* INPUT RANGE */
